@import '@/design/variables/colors';

html,
body {
  width: 100%;
  height: 100%;
  background-color: $theme-light;
}

html.dark {
  background-color: $theme-dark;
}

#app {
  width: 100%;
  height: 100%;
  background-color: $theme-light;
}

.dark #app {
  background-color: $theme-dark;
}

* {
  transition: background-color 0.2s;
}
